/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
  height: 100%;
  position: relative;
  padding-bottom: 1px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Resets */



/* ----------END FONTS----------*/

html {
  font-family: 'Lato', sans-serif;
  background:url('../imgs/background.jpg') #eff1ef repeat;
  font-size: 16px;
  color:#4d5263;
}
a {
  color:#4d5263;
  text-decoration: none;
}
a:visited {
  color:#4d5263;
}
h1 {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0 0 .5rem 0;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
  padding: .5rem 0 1rem;
}
.big-letter {
  font-size: 2rem;
}
.italix {
  font-family: 'Lora', serif;
  font-style: italic;
  line-height: 1.5
}

/*----------HEADER----------*/
header {
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index:10;
  height: 3rem;
  background-color:#ffffff;
  max-width:1440px;
  margin: 0 auto;
  -webkit-transition: 0.25s top linear;
  -transition: 0.25s top linear;
}
#header-logo {
  float: left;
  width: 3.75rem;
  padding: .2rem 0 0 1rem;
}
#header-title {
  font-size:1.5rem;
  float:left;
  padding: 0.5rem 0;
  text-decoration: none;
}
#header-title:hover { 
  color:#7e859e;
}
#header-nav-list {
  font-family: 'Lato', sans-serif;
  font-style: none; 
  float:right;
  padding-right: 1.5rem;
}
.header-nav-item {
  float:left; 
}
.header-nav-link {
  font-size:1rem;
  padding: .9rem 0 0 1.5rem;
  color:#4d5263;
  display: inline-block;
  text-decoration:none;
}
.header-nav-link:hover {
  color:#7e859e;
}
#burger-icon {
  float:right;
  margin: 0 .5rem;
  width:3rem;
  display:none;
}

/*------------CONTENT--------------*/
#content-wrapper {
  padding: 0;
  max-width: 1024px;
  margin: 0 auto 3.5rem;
  position: relative;
  z-index:2;
  text-align:center;
}
#content-wrapper a {
  font-family: 'Lora', serif;
  font-style: italic;
}
#content-wrapper a:hover {
  text-decoration: underline;
  color:#7e859e;
}
#content-wrapper a:visited {

}

/* ---mostly homepage ---*/
.cat-box {
  width: 315px;
  height: 365px;
  display: inline-block;
  margin: 1%;
  background-size: cover;
  text-align: center;
  position: relative;
  background: url(../imgs/hex.svg) center / cover no-repeat;
}
.cat-box img{
  width: 100%;
}
.cat-box img:hover {
  display: none;
}
.cat-label{
  position: absolute;
  top:45%;
  left:0;
  width:100%;
  color: #ffffff;
  pointer-events: none;
  font-size: 2.75rem;
  font-weight: bold;
}
.cat-span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 365px;
}
.bio-short {
  padding: 1.5rem 2rem 2rem;
  text-align: left;
}
/*--------PORTFOLIO---------*/
.portfolio-item {
  text-align:left;
  padding: 1rem 0;
}
.portfolio-description {
  padding: 1rem 1.5rem;
}

/*--------BIO-----------*/
.bio-pic {
  max-width: 100%;
}
.bio-long {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 1rem 2rem;
}
.resume {
  margin: 0 auto;
  text-align: left;
  padding: 0 2rem 2rem;
  display: inline-block;
  vertical-align: top;
}

/* ----Project Pages ----*/
.project-section {
  padding: 0;
}
.project-section p {
  max-width:700px;
  text-align: left;
  padding: 0 0 1rem;
  margin: 0 auto;
}
.project-section h3 {
  max-width:700px;
  text-align: left;
  padding: 1rem 0;
  margin: 0 auto;
}

.project-page img {
  width: 100%;
  padding: 1rem 0;
}

/* -----SIZING------*/
.eight-hundred {
  max-width: 800px;
}
.three-quarter {
  max-width:768px;
}
.five-hundred {
  max-width: 500px;
}
.half {
  max-width:48.5%
}
.small {
  max-width:320px;
  display:inline-block;
}
/* ----Alignment -----*/
.left {
  float:left;
}
.right {
  float:right;
}
.center {
  margin: 0 auto;
}
.indent {
  text-indent: 3rem;
}
.top-pad {
  padding-top: 20px;
}
.feature-image-left {
  padding: 20px 12px 0px 0px !important;
  float:left;
}

.feature-image-right {
  padding: 275px 0px 30px 12px !important;
  float:right; 
}
/*FIX*/
h1.title {
  padding-left:0px;
}

/*FIX*/
.project-image-small-spaced {
  padding: 20px 24px !important;
}


/*-----FOOTER ------*/
footer {
  clear:both;
  width: 100%;
  max-width:1440px;
  position: absolute;
  bottom:0;
  left: 0;
  height: 2.5rem;
  padding-bottom: 1rem;
}
.footer-email {
  float:left;
  font-size: 1rem;
  padding: .75rem 0 0 2rem;
}
.footer-icon-list {
  float:right;
  padding-right: 1.5rem;
}
.footer-icon {
  padding: 0 0 0 1rem;
  display: inline-block;
}
.footer-icon img {
  width: 2.5rem;
}
.footer-icon img:last-child{
  display: none;
}
.footer-icon:hover img:first-child{
  display: none;
}
.footer-icon:hover img:last-child{
  display: inline-block;
}

/*DELETE*/
@media screen and (max-width: 1024px){  
  .proj-img-top {
    padding-top:30px;
  }
  .resume {
    padding: 0rem 1rem 2rem;
  }
  .portfolio-item img{
    width: 100%;
  }
  .project-section p,h3{
    width: 90%;
  }
}

@media screen and (max-width: 900px){
  .resume {
    display: block;
    max-width: 600px;
  }
}

@media screen and (max-width: 800px){
  #header-logo {
    padding-left: .5rem;
  }
  #header-nav-list {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    float: none;
    margin: 0px;
    padding: 0px;
    background-color: #aeddc8;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 0.25s height linear;
    -transition: 0.25s height linear;
  } 
  .feature-image-left {
    padding: 20px 4px 0px 0px !important;
    float:left;
  }
  .feature-image-right {
    padding: 85px 0px 20px 5px !important;
    float:right; 
  }
  .header-nav-item {
    float:none;
  }
  .header-nav-link{
    padding: 1.1rem .75rem .75rem 0; 
  }
  #burger-icon {
    display:block;
    padding:0 0 0 0;
    stroke: #ffffff;
  }
}
@media (max-width: 700px) {
  .project-image-small-spaced {
    padding:20px 0px 20px 0px !important;
  }
  footer {
    text-align: center;
  }
  .footer-email {
    font-size: 1.25rem;
    float: none;
    padding: 2rem 0 2rem 0;
    color: #ffffff;
    background-color: #4d5263;
  }
  .footer-icon-list {
    float: none;
    padding: 0 0 2rem 0;
    background-color: #4d5263;
  }
  .footer-icon {
    padding: 0 .75rem;
  }
  .footer-icon img {
    width: 4rem;
  }
}
@media screen and (max-width: 640px){
  #header-wrapper {
    height: 45px;
  }
  .feature-title {
  /*  font-size: 1.5rem;*/
    padding: 24px 20px 0px 20px;
  }
  .feature-description {
/*    font-size: 1rem;*/
    padding: 5px 20px 20px 20px;
  }
  .feature-image-threeq-right {
    padding:20px 0px;
  }

  .footer-icon {
    padding: 0 .5rem;
  }
}
@media screen and (max-width:320px){

}
