/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Resets */

@font-face {
  font-family: 'aller_lightregular';
  src: url('../fonts/aller_lt-webfont.eot');
  src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/aller_lt-webfont.woff') format('woff'),
        url('../fonts/aller_lt-webfont.ttf') format('truetype'),
        url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'allerbold';
  src: url('../fonts/aller_bd-webfont.eot');
  src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/aller_bd-webfont.woff') format('woff'),
  url('../fonts/aller_bd-webfont.ttf') format('truetype'),
  url('../fonts/aller_bd-webfont.svg#allerbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'tsymbols';
	src: url('../fonts/tsymbols.eot');
	src: url('../fonts/tsymbols.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/tsymbols.woff') format('woff'),
		 url('../fonts/tsymbols.svg') format('svg'),
		 url('../fonts/tsymbols.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-hept_etsy, .icon-hept_instagram, .icon-hept_lamb, .icon-hept_linkedin, .icon-hept_tumblr, .icon-hept_twitter, .icon-arrow-right, .icon-arrow-left, .icon-eye{
	font-family: 'tsymbols';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-hept_instagram:before {
	content: "\e002";
	color:#c69c6d;
}
.icon-hept_linkedin:before {
	content: "\e004";
	color:#007bb6;
}
.icon-hept_tumblr:before {
	content: "\e005";
	color:#2a445e;
}
.icon-hept_twitter:before {
	content: "\e006";
	color:#33b9b5;
}
/* ----------END FONTS----------*/

html {
  font-family: 'aller_lightregular', arial, sans-serif;
  background:url('../imgs/background.jpg') #eff1ef repeat;
  font-size: 16px;
  color:#4c4c4c;
}
a {
  color:#4c4c4c
}
a:visited {
  color:#4c4c4c;
}
#page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
#white-heptagon {
  position: fixed;
  z-index: 0;
  margin: -45px -45px;
}
.background-text {
  position: fixed;
  z-index: 0;
  font-family: 'allerbold', arial, sans-serif;
  font-size:7.5rem;
  margin: 60px 280px;
  color:#ffffff;
  white-space: nowrap; 
}
header {
  position:fixed;
  left:0px;
  right:0px;
  z-index:10;
  height: 50px;
  background-color:#ffffff;
  max-width:1440px;
  margin: 0 auto;
}
#header-logo {
  float:left;
  width:75px;
  padding: 0 0 0 2px;
}
#burger-icon {
  float:left;
  margin: 35px 0px 0px -25px;
  width:55px;
  display:none;
}
#header-title {
  font-size:1.5rem;
  float:left;
  padding: 0.75rem 3px;
  text-decoration:none;
}
#header-title:hover { 
  color:#4edbb0;
}
#header-nav-list {
  float:right;
  padding-right:7px;
}
.header-nav-item {
  float:left; 
}
.header-nav-link {
  font-size:1rem;
  padding: 18px 10px 10px 10px;
  color:#4c4c4c;
  display: inline-block;
  text-decoration:none;
}
.header-nav-link:hover {
  color:#4edbb0;
}
#content-wrapper {
  padding-top:130px;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index:2;
  text-align:center;
}
#content-wrapper img {
  width: 100%;
  padding: 20px 0px;
}
.page-title {
  font-family: 'allerbold';
  font-size:2.7rem;
}
.headshot {
  max-width:200px;
  max-height:200px;
}
/* ---mostly homepage ---*/
.cats img{
  width: 300px;
}

.white-block {
  background-color:#ffffff;
  padding: 20px;
  margin: 0 0 28px 0;
  text-align:left;
}
.white-block-link {
  text-decoration:none;
}
.white-block-title {
  font-size: 1.875rem;
  padding: 0 0 10px 0;
}
.white-block-description {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0;
}
.more-link {
  display:block;
  padding: 13px 0 0 0;
  color:#bcbcbc;
}
.more-link:visited {
  color:#bcbcbc;
}
.white-block-link:hover {
  color:#4edbb0;
}
.contact-list {  
  padding: 0px 0 10px 86px;
}
.contact-list li {
  font-size:3rem;
  padding: 12px 0;
}

.contact-list li a {
  font-size: 2rem;
  font-family: 'aller_lightregular', arial, sans-serif;;
  font-weight:normal;
  padding:0 0 0 10px;
}
/* ----Project Pages ----*/
.project-description-block {
  clear:both;
  text-align:left;
  width:100%;
}
.title {
  font-size: 1.875rem;
  padding: 0 0 10px 40px;
}
.description {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0 40px;
}
.section-title {
  font-family: 'allerbold';
  font-size:2.8rem;
  padding: 10px 0 36px 0;
}
.project-description-block a {
  font-weight:bold;
  text-decoration:none;
}
.project-description-block a:hover {
  color:#4edbb0;
}
/* -----SIZING------*/
.eight-hundred {
  max-width: 800px;
}
.three-quarter {
  max-width:768px;
}
.five-hundred {
  max-width: 500px;
}
.half {
  max-width:48.5%
}
.small {
  max-width:320px;
  display:inline-block;
}
/* ----Alignment -----*/
.left {
  float:left;
}
.right {
  float:right;
}
.center {
  margin: 0 auto;
}
.indent {
  text-indent: 3rem;
}
.top-pad {
  padding-top: 20px;
}
.feature-image-left {
  padding: 20px 12px 0px 0px !important;
  float:left;
}

.feature-image-right {
  padding: 275px 0px 30px 12px !important;
  float:right; 
}
/*FIX*/
h1.title {
  padding-left:0px;
}

/*FIX*/
.project-image-small-spaced {
  padding: 20px 24px !important;
}


/*-----FOOTER ------*/
footer {
  clear:both;
  max-width:1440px;
  margin: 20px auto 0px auto;
}
#footer-email {
  float:left;
  font-size:1.5rem;
  padding: 25px 0px 30px 16px;
}

#buttons {
  float:right;
  position:relative;
  text-align:left;
}
#footer-icon-list {
  font-size:3rem;
  position:relative;
  padding: 0px 10px 30px 0px;
}
.footer-icon {
  float:left;
  padding:0px 7px;
}
.footer-icon a {
  text-decoration: none;
}
.footer-icon:hover .icon-hept_instagram:before, 
.footer-icon:hover .icon-hept_tumblr:before, 
.footer-icon:hover .icon-hept_twitter:before, 
.footer-icon:hover .icon-hept_linkedin:before {
  color:#4edbb0;
}

/*DELETE*/
@media screen and (max-width: 1024px){  
  .proj-img-top {
    padding-top:30px;
  }
}

@media screen and (max-width: 800px){
  #header-nav-list {
    position:fixed;
    padding-right: 0px;
    top:65px;
    left:160px;
    background-color:#aeddc8;
    display:none;
  } 
  .feature-image-left {
    padding: 20px 4px 0px 0px !important;
    float:left;
  }
  .feature-image-right {
    padding: 85px 0px 20px 5px !important;
    float:right; 
  }


  .header-nav-item {
    float:none;
  }
  .header-nav-link{
    padding: 15px 30px; 
  }
  #burger-icon {
    display:block;
  }
}
@media (max-width: 700px) {
  .project-image-small-spaced {
    padding:20px 0px 20px 0px !important;
  }


  #footer-email {
    display:none;
  }
  #buttons {
    left:-50%;
  }
  #footer-icon-list{
    font-size:4rem;
    left:50%;
  }
}
@media screen and (max-width: 640px){
  html {
    font-size:87.5%;
  }
  #white-heptagon {
    width:173px;
  }
  .background-text {
    font-size: 3.1rem;
    margin: 75px 126px;
  } 
  #header-wrapper {
    height: 45px;
  }
  #header-logo {
    width: 100px;
  }
  #header-title {
    font-size: 1.7rem;
    padding: 7px 0px;
    margin-left: -14px;
  } 
  #header-nav-list {
    left: 110px;
  }
  #content-wrapper {
    padding-top: 110px;
  }
  #contact .title {
    font-size:1.5rem;
    text-indent:0rem;
    padding:0 0 10px 10px;
  }

  
  .feature-title {
  /*  font-size: 1.5rem;*/
    padding: 24px 20px 0px 20px;
  }
  .feature-description {
/*    font-size: 1rem;*/
    padding: 5px 20px 20px 20px;
  }
  .feature-image-threeq-right {
    padding:20px 0px;
  }
}
@media screen and (max-width:320px){
  #contact .title { 
    font-size:1.3rem;
    text-indent:0rem;
    padding: 0 0 10px 10px;
  }
  .contact-list {
    padding: 0 0 10px 40px;
  }
}
