/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.25;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, 
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End Resets */

@font-face {
  font-family: 'tsymbols';
  src: url('../fonts/tsymbols.eot');
  src: url('../fonts/tsymbols.eot?#iefix') format('embedded-opentype'),
     url('../fonts/tsymbols.woff') format('woff'),
     url('../fonts/tsymbols.svg') format('svg'),
     url('../fonts/tsymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon-hept_etsy, .icon-hept_instagram, .icon-hept_lamb, .icon-hept_linkedin, .icon-hept_tumblr, .icon-hept_twitter, .icon-arrow-right, .icon-arrow-left, .icon-eye{
  font-family: 'tsymbols';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-hept_instagram:before {
  content: "\e002";
  color:#c69c6d;
}
.icon-hept_linkedin:before {
  content: "\e004";
  color:#007bb6;
}
.icon-hept_tumblr:before {
  content: "\e005";
  color:#2a445e;
}
.icon-hept_twitter:before {
  content: "\e006";
  color:#33b9b5;
}

/* ----------END FONTS----------*/

html {
  font-family: 'Lato', sans-serif;
  background:url('../imgs/background.jpg') #eff1ef repeat;
  font-size: 16px;
  color:#4d5263;
}
a {
  color:#4c4c4c;
  text-decoration: none;
}
a:visited {
  color:#4c4c4c;
}

/*----------HEADER----------*/
header {
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index:10;
  height: 3rem;
  background-color:#ffffff;
  max-width:1440px;
  margin: 0 auto;
  -webkit-transition: 0.25s top linear;
  -transition: 0.25s top linear;
}
#header-logo {
  float: left;
  width: 3.75rem;
  padding: .2rem 0 0 1rem;
}
#header-title {
  font-size:1.5rem;
  float:left;
  padding: 0.5rem 0;
  text-decoration: none;
}
#header-title:hover { 
  color:#4edbb0;
}
#header-nav-list {
  font-family: 'Lato', sans-serif;
  font-style: none; 
  float:right;
  padding-right: 1.5rem;
}
.header-nav-item {
  float:left; 
}
.header-nav-link {
  font-size:1rem;
  padding: .9rem 0 0 1.5rem;
  color:#4c4c4c;
  display: inline-block;
  text-decoration:none;
}
.header-nav-link:hover {
  color:#4edbb0;
}
#burger-icon {
  float:right;
  margin: 0 .5rem;
  width:55px;
  display:none;
}

/*------------CONTENT--------------*/
#content-wrapper {
  padding-top: 4rem;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index:2;
  text-align:center;
}
#content-wrapper a {
  font-family: 'Lora', serif;
  font-style: italic;
}
#content-wrapper a:hover {
text-decoration: underline;
}

/* ---mostly homepage ---*/
.cat-box {
  width: 314px;
  height: 314px;
  display: inline-block;
  margin: 1%;
  background-size: cover;
  text-align: center;
  position: relative;
}
.cat-box img{
  width: 100%;
}
.cat-label{
  position: absolute;
  top:40%;
  left:0;
  width:100%;
  color: #ffffff;
  pointer-events: none;
  font-size: 2.75rem;
  font-weight: bold;
}
#cat-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 314px;
}
#cat-tech:hover{
  background: url(../imgs/cat_tech.png) center / cover no-repeat;
}
#cat-design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 314px;
}
#cat-design:hover{
  background: url(../imgs/cat_design.png) center / cover no-repeat;
}
#cat-studio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 314px;
}
#cat-studio:hover{
  background: url(../imgs/cat_studio.png) center / cover no-repeat;
}
.bio-short {
  font-size: 1.5rem;
  padding: 2rem;
  text-align: left;
}
/*--------BIO-----------*/
.bio-pic {
  max-width: 100%;
}
.bio-long {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  padding: 1rem;
}

/* ----Project Pages ----*/
.project-description-block {
  clear:both;
  text-align:left;
  width:100%;
}
.title {
  font-size: 1.875rem;
  padding: 0 0 10px 40px;
}
.description {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0 40px;
}
.section-title {
  font-weight: bold;
  font-size:2.8rem;
  padding: 10px 0 36px 0;
}
.project-description-block a {
  font-weight:bold;
  text-decoration:none;
}
.project-description-block a:hover {
  color:#4edbb0;
}
/* -----SIZING------*/
.eight-hundred {
  max-width: 800px;
}
.three-quarter {
  max-width:768px;
}
.five-hundred {
  max-width: 500px;
}
.half {
  max-width:48.5%
}
.small {
  max-width:320px;
  display:inline-block;
}
/* ----Alignment -----*/
.left {
  float:left;
}
.right {
  float:right;
}
.center {
  margin: 0 auto;
}
.indent {
  text-indent: 3rem;
}
.top-pad {
  padding-top: 20px;
}
.feature-image-left {
  padding: 20px 12px 0px 0px !important;
  float:left;
}

.feature-image-right {
  padding: 275px 0px 30px 12px !important;
  float:right; 
}
/*FIX*/
h1.title {
  padding-left:0px;
}

/*FIX*/
.project-image-small-spaced {
  padding: 20px 24px !important;
}


/*-----FOOTER ------*/
footer {
  clear:both;
  max-width:1440px;
  margin: 20px auto 0px auto;
}
#footer-email {
  float:left;
  font-size:1.5rem;
  padding: 25px 0px 30px 16px;
}

#buttons {
  float:right;
  position:relative;
  text-align:left;
}
#footer-icon-list {
  font-size:3rem;
  position:relative;
  padding: 0px 10px 30px 0px;
}

.footer-icon {
  float:left;
  padding:0px 7px;
}
.footer-icon a {
  text-decoration: none;
}
.footer-icon:hover .icon-hept_instagram:before, 
.footer-icon:hover .icon-hept_tumblr:before, 
.footer-icon:hover .icon-hept_twitter:before, 
.footer-icon:hover .icon-hept_linkedin:before {
  color:#4edbb0;
}

/*DELETE*/
@media screen and (max-width: 1024px){  
  .proj-img-top {
    padding-top:30px;
  }
}

@media screen and (max-width: 800px){
  #header-logo {
    padding-left: .5rem;
  }
  #header-nav-list {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 100%;
    float: none;
    margin: 0px;
    padding: 0px;
    background-color: #aeddc8;
    text-align: center;
    overflow: hidden;
    -webkit-transition: 0.25s height linear;
    -transition: 0.25s height linear;
  } 
  .feature-image-left {
    padding: 20px 4px 0px 0px !important;
    float:left;
  }
  .feature-image-right {
    padding: 85px 0px 20px 5px !important;
    float:right; 
  }


  .header-nav-item {
    float:none;
  }
  .header-nav-link{
    padding: 1.1rem .75rem .75rem 0; 
  }
  #burger-icon {
    display:block;
  }
}
@media (max-width: 700px) {
  .project-image-small-spaced {
    padding:20px 0px 20px 0px !important;
  }

  #footer-email {
    display:none;
  }
  #buttons {
    left:-50%;
  }
  #footer-icon-list{
    font-size:4rem;
    left:50%;
  }
}
@media screen and (max-width: 640px){
  #header-wrapper {
    height: 45px;
  }
  #content-wrapper {
    padding-top: 110px;
  }
  .feature-title {
  /*  font-size: 1.5rem;*/
    padding: 24px 20px 0px 20px;
  }
  .feature-description {
/*    font-size: 1rem;*/
    padding: 5px 20px 20px 20px;
  }
  .feature-image-threeq-right {
    padding:20px 0px;
  }
}
@media screen and (max-width:320px){

}
